<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-ultimate-health"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    version="0.0.1">
    <name>Stepper</name>
    <author>wach128</author>
    <description>
        Lightweight pedometer Cordova/Phonegap plugin for Android using the hardware step sensor, with notifications.
        (this plugin inspired from Felicien Francois stepper plugin: https://github.com/felicienfrancois/cordova-plugin-stepper)
    </description>
    <keywords>cordova, core motion, pedometer, steps, distance, pedestrian</keywords>
    <license>MIT</license>
    <dependency id="cordova-plugin-device" />
    <engines>
        <engine name="cordova" version=">=10.0.0" />
    </engines>
    <js-module src="www/stepper.js" name="Stepper">
        <clobbers target="stepper" />
    </js-module>
    <platform name="ios">
        <preference name="MOTION_USAGE_DESCRIPTION" default="This app needs motion access"/>
        <config-file target="*-Info.plist" parent="NSMotionUsageDescription">
            <string>$MOTION_USAGE_DESCRIPTION</string>
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="Stepper">
                <param name="ios-package" value="Stepper" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/Stepper.h" />
        <source-file src="src/ios/Stepper.m" />
        <framework src="CoreMotion.framework" />
    </platform>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="org.apache.cordova.ultimate.health.BootReceiver" android:exported="true">
                <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </receiver>
            <receiver android:name="org.apache.cordova.ultimate.health.AppUpdatedReceiver" android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                </intent-filter>
            </receiver>
            <service android:name="org.apache.cordova.ultimate.health.SensorListener" android:exported="true" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
            <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
            <uses-feature android:name="android.hardware.sensor.stepcounter" android:required="false" />

            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" android:exported="false" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Stepper">
                    <param name="android-package" value="org.apache.cordova.ultimate.health.StepperPlugin" />
            </feature>
        </config-file>
        <source-file src="src/android/StepperPlugin.java" target-dir="src/org/apache/cordova/stepper" />
        <source-file src="src/android/AppUpdatedReceiver.java" target-dir="src/org/apache/cordova/stepper" />
        <source-file src="src/android/BootReceiver.java" target-dir="src/org/apache/cordova/stepper" />
        <source-file src="src/android/Database.java" target-dir="src/org/apache/cordova/stepper" />
        <source-file src="src/android/SensorListener.java" target-dir="src/org/apache/cordova/stepper" />
        <source-file src="src/android/ShutdownReceiver.java" target-dir="src/org/apache/cordova/stepper" />
        <source-file src="src/android/util/API23Wrapper.java" target-dir="src/org/apache/cordova/stepper/util" />
        <source-file src="src/android/util/API26Wrapper.java" target-dir="src/org/apache/cordova/stepper/util" />
        <source-file src="src/android/util/Util.java" target-dir="src/org/apache/cordova/stepper/util" />
        <source-file src="src/android/util/Entry.java" target-dir="src/org/apache/cordova/stepper/util" />
        <source-file src="src/android/util/Config.java" target-dir="src/org/apache/cordova/stepper/util" />
        <source-file src="src/android/util/Status.java" target-dir="src/org/apache/cordova/stepper/util" />
        <source-file src="src/android/res/drawable/ic_footsteps_silhouette_variant.xml" target-dir="res/drawable" />
        <manifest xmlns:android="http://schemas.android.com/apk/res/android">
        <service
                android:name="org.apache.cordova.ultimate.health.SensorListener"
                android:foregroundServiceType="health"
                android:exported="false">
        </service>
    </manifest>
    </platform>
</plugin>
